Write a program that:
1. Take the file as an input
2. Programmatically analyze the file and print in console the name and position of employees 
      a) who has worked for 7 consecutive days.
      b) who have less than 10 hours of time between shifts but greater than 1 hour
      c) Who has worked for more than 14 hours in a single shift
3. Write a clean code with code comments and assumptions (if any) you are making
4. Create a public GIT repository
5. Push your codebase that git repo.
6. Push console output as output.txt to base folder of GIT repo

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [7]:
# Replace 'your_file_path.xlsx' with the actual path to your Excel file
file_path = "Assignment_Timecard.xlsx"

# Read the Excel file into a pandas DataFrame
df = pd.read_excel(file_path)

# Display the DataFrame
df.head(10)

,Position ID,Position Status,Time,Time Out,Timecard Hours (as Time),Pay Cycle Start Date,Pay Cycle End Date,Employee Name,File Number,Unnamed: 9,Unnamed: 10
0,WFS000054,Active,NaT,NaT,NaN,NaT,NaT,"SiWgh, PraGhjEM",54,NaN,NaN
1,WFS000065,Active,2023-09-12 10:08:00,2023-09-12 13:53:00,3:45,2023-09-10,2023-09-23,"REsaXiaWE, XAis",65,NaN,NaN
2,WFS000065,Active,2023-09-12 14:23:00,2023-09-12 19:02:00,4:39,2023-09-10,2023-09-23,"REsaXiaWE, XAis",65,NaN,NaN
3,WFS000065,Active,2023-09-13 10:08:00,2023-09-13 14:20:00,4:12,2023-09-10,2023-09-23,"REsaXiaWE, XAis",65,NaN,NaN
4,WFS000065,Active,2023-09-13 14:50:00,2023-09-13 20:44:00,5:54,2023-09-10,2023-09-23,"REsaXiaWE, XAis",65,NaN,NaN
5,WFS000065,Active,2023-09-14 10:09:00,2023-09-14 14:30:56,4:21,2023-09-10,2023-09-23,"REsaXiaWE, XAis",65,NaN,NaN
6,WFS000065,Active,2023-09-14 15:00:52,2023-09-14 19:14:00,4:14,2023-09-10,2023-09-23,"REsaXiaWE, XAis",65,NaN,NaN
7,WFS000065,Active,2023-09-15 10:11:00,2023-09-15 14:41:00,4:30,2023-09-10,2023-09-23,"REsaXiaWE, XAis",65,NaN,NaN
8,WFS000065,Active,2023-09-15 15:11:00,2023-09-15 19:05:00,3:54,2023-09-10,2023-09-23,"REsaXiaWE, XAis",65,NaN,NaN
9,WFS000065,Active,2023-09-16 09:51:00,2023-09-16 14:50:48,4:59,2023-09-10,2023-09-23,"REsaXiaWE, XAis",65,NaN,NaN

In [20]:
df = df.drop(['Unnamed: 9', 'Unnamed: 10'], axis=1)

In [21]:
df.head(20)

,Position ID,Position Status,Time,Time Out,Timecard Hours (as Time),Pay Cycle Start Date,Pay Cycle End Date,Employee Name,File Number
0,WFS000054,Active,NaT,NaT,NaN,NaT,NaT,"SiWgh, PraGhjEM",54
1,WFS000065,Active,2023-09-12 10:08:00,2023-09-12 13:53:00,3:45,2023-09-10,2023-09-23,"REsaXiaWE, XAis",65
2,WFS000065,Active,2023-09-12 14:23:00,2023-09-12 19:02:00,4:39,2023-09-10,2023-09-23,"REsaXiaWE, XAis",65
3,WFS000065,Active,2023-09-13 10:08:00,2023-09-13 14:20:00,4:12,2023-09-10,2023-09-23,"REsaXiaWE, XAis",65
4,WFS000065,Active,2023-09-13 14:50:00,2023-09-13 20:44:00,5:54,2023-09-10,2023-09-23,"REsaXiaWE, XAis",65
5,WFS000065,Active,2023-09-14 10:09:00,2023-09-14 14:30:56,4:21,2023-09-10,2023-09-23,"REsaXiaWE, XAis",65
6,WFS000065,Active,2023-09-14 15:00:52,2023-09-14 19:14:00,4:14,2023-09-10,2023-09-23,"REsaXiaWE, XAis",65
7,WFS000065,Active,2023-09-15 10:11:00,2023-09-15 14:41:00,4:30,2023-09-10,2023-09-23,"REsaXiaWE, XAis",65
8,WFS000065,Active,2023-09-15 15:11:00,2023-09-15 19:05:00,3:54,2023-09-10,2023-09-23,"REsaXiaWE, XAis",65
9,WFS000065,Active,2023-09-16 09:51:00,2023-09-16 14:50:48,4:59,2023-09-10,2023-09-23,"REsaXiaWE, XAis",65
10,WFS000065,Active,2023-09-16 15:20:39,2023-09-16 20:19:00,4:59,2023-09-10,2023-09-23,"REsaXiaWE, XAis",65
11,WFS000065,Active,2023-09-19 09:55:00,2023-09-19 13:56:00,4:01,2023-09-10,2023-09-23,"REsaXiaWE, XAis",65
12,WFS000065,Active,2023-09-19 14:26:00,2023-09-19 18:29:00,4:03,2023-09-10,2023-09-23,"REsaXiaWE, XAis",65
13,WFS000065,Active,2023-09-20 09:54:00,2023-09-20 14:12:00,4:18,2023-09-10,2023-09-23,"REsaXiaWE, XAis",65
14,WFS000065,Active,2023-09-20 14:42:00,2023-09-20 18:46:00,4:04,2023-09-10,2023-09-23,"REsaXiaWE, XAis",65
15,WFS000065,Active,2023-09-21 09:55:00,2023-09-21 14:03:00,4:08,2023-09-10,2023-09-23,"REsaXiaWE, XAis",65
16,WFS000065,Active,2023-09-21 14:33:00,2023-09-21 18:47:00,4:14,2023-09-10,2023-09-23,"REsaXiaWE, XAis",65
17,WFS000065,Active,2023-09-22 09:55:00,2023-09-22 14:50:15,4:55,2023-09-10,2023-09-23,"REsaXiaWE, XAis",65
18,WFS000065,Active,2023-09-22 15:20:09,2023-09-22 20:26:00,5:06,2023-09-10,2023-09-23,"REsaXiaWE, XAis",65
19,WFS000065,Active,2023-09-23 09:55:00,2023-09-23 15:47:00,6:52,2023-09-10,2023-09-23,"REsaXiaWE, XAis",65

In [22]:
df.shape

(1484, 9)

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1484 entries, 0 to 1483
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Position ID               1484 non-null   object
 1   Position Status           1484 non-null   object
 2   Time                      1474 non-null   datetime64[ns]
 3   Time Out                  1470 non-null   datetime64[ns]
 4   Timecard Hours (as Time)  1474 non-null   object
 5   Pay Cycle Start Date      1474 non-null   datetime64[ns]
 6   Pay Cycle End Date        1474 non-null   datetime64[ns]
 7   Employee Name             1484 non-null   object
 8   File Number               1484 non-null   int64
 9   TC (as Minutes)           1484 non-null   float64
dtypes: datetime64[ns](4), float64(1), int64(1), object(4)
memory usage: 116.1+ KB

In [23]:
df.describe()

       File Number
count  1484.000000
mean    437.658356
std     136.732971
min      54.000000
25%     368.000000
50%     491.000000
75%     546.500000
max     591.000000

In [24]:
df.isna().head(10)

,Position ID,Position Status,Time,Time Out,Timecard Hours (as Time),Pay Cycle Start Date,Pay Cycle End Date,Employee Name,File Number
0,False,False,True,True,True,True,True,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False

In [25]:
df['TC (as Minutes)'] = pd.to_datetime(df['Timecard Hours (as Time)'], format='%H:%M').dt.hour * 60 + pd.to_datetime(df['Timecard Hours (as Time)'], format='%H:%M').dt.minute

In [32]:
df.head(10)

,Position ID,Position Status,Time,Time Out,Timecard Hours (as Time),Pay Cycle Start Date,Pay Cycle End Date,Employee Name,File Number,TC (as Minutes)
0,WFS000054,Active,NaT,NaT,NaN,NaT,NaT,"SiWgh, PraGhjEM",54,NaN
1,WFS000065,Active,2023-09-12 10:08:00,2023-09-12 13:53:00,3:45,2023-09-10,2023-09-23,"REsaXiaWE, XAis",65,225.0
2,WFS000065,Active,2023-09-12 14:23:00,2023-09-12 19:02:00,4:39,2023-09-10,2023-09-23,"REsaXiaWE, XAis",65,279.0
3,WFS000065,Active,2023-09-13 10:08:00,2023-09-13 14:20:00,4:12,2023-09-10,2023-09-23,"REsaXiaWE, XAis",65,252.0
4,WFS000065,Active,2023-09-13 14:50:00,2023-09-13 20:44:00,5:54,2023-09-10,2023-09-23,"REsaXiaWE, XAis",65,354.0
5,WFS000065,Active,2023-09-14 10:09:00,2023-09-14 14:30:56,4:21,2023-09-10,2023-09-23,"REsaXiaWE, XAis",65,261.0
6,WFS000065,Active,2023-09-14 15:00:52,2023-09-14 19:14:00,4:14,2023-09-10,2023-09-23,"REsaXiaWE, XAis",65,254.0
7,WFS000065,Active,2023-09-15 10:11:00,2023-09-15 14:41:00,4:30,2023-09-10,2023-09-23,"REsaXiaWE, XAis",65,270.0
8,WFS000065,Active,2023-09-15 15:11:00,2023-09-15 19:05:00,3:54,2023-09-10,2023-09-23,"REsaXiaWE, XAis",65,234.0
9,WFS000065,Active,2023-09-16 09:51:00,2023-09-16 14:50:48,4:59,2023-09-10,2023-09-23,"REsaXiaWE, XAis",65,299.0

## Code Processing and Cleaning

In [27]:
mean_min = df['TC (as Minutes)'].mean()

In [30]:
mean_min

241

In [33]:
# Fill missing values NAN with the mean
df['TC (as Minutes)'].fillna(mean_min, inplace=True)

In [35]:
df.head(10)

,Position ID,Position Status,Time,Time Out,Timecard Hours (as Time),Pay Cycle Start Date,Pay Cycle End Date,Employee Name,File Number,TC (as Minutes)
0,WFS000054,Active,NaT,NaT,NaN,NaT,NaT,"SiWgh, PraGhjEM",54,241.0
1,WFS000065,Active,2023-09-12 10:08:00,2023-09-12 13:53:00,3:45,2023-09-10,2023-09-23,"REsaXiaWE, XAis",65,225.0
2,WFS000065,Active,2023-09-12 14:23:00,2023-09-12 19:02:00,4:39,2023-09-10,2023-09-23,"REsaXiaWE, XAis",65,279.0
3,WFS000065,Active,2023-09-13 10:08:00,2023-09-13 14:20:00,4:12,2023-09-10,2023-09-23,"REsaXiaWE, XAis",65,252.0
4,WFS000065,Active,2023-09-13 14:50:00,2023-09-13 20:44:00,5:54,2023-09-10,2023-09-23,"REsaXiaWE, XAis",65,354.0
5,WFS000065,Active,2023-09-14 10:09:00,2023-09-14 14:30:56,4:21,2023-09-10,2023-09-23,"REsaXiaWE, XAis",65,261.0
6,WFS000065,Active,2023-09-14 15:00:52,2023-09-14 19:14:00,4:14,2023-09-10,2023-09-23,"REsaXiaWE, XAis",65,254.0
7,WFS000065,Active,2023-09-15 10:11:00,2023-09-15 14:41:00,4:30,2023-09-10,2023-09-23,"REsaXiaWE, XAis",65,270.0
8,WFS000065,Active,2023-09-15 15:11:00,2023-09-15 19:05:00,3:54,2023-09-10,2023-09-23,"REsaXiaWE, XAis",65,234.0
9,WFS000065,Active,2023-09-16 09:51:00,2023-09-16 14:50:48,4:59,2023-09-10,2023-09-23,"REsaXiaWE, XAis",65,299.0

In [36]:
dv_hr, dv_min = divmod(241, 60)

In [43]:
dv_hr

4

In [44]:
dv_min

1

In [39]:
print(f"Mean time: {int(dv_hr)}:{int(dv_min):02d}")

Mean time: 4:01

In [ ]:
ndf1 = df.copy()

## Fill NaN values in "Timecard Hours (as Ti``me)" with formatted "H:MM" from "dv_hr" and "dv_min"

In [56]:

formatted_time = f"{dv_hr:01d}:{dv_min:02d}"
formatted_time
df['Timecard Hours (as Time)'].fillna(formatted_time, inplace=True)
df.head(10)

,Position ID,Position Status,Time,Time Out,Timecard Hours (as Time),Pay Cycle Start Date,Pay Cycle End Date,Employee Name,File Number,TC (as Minutes)
0,WFS000054,Active,NaT,NaT,4:01,NaT,NaT,"SiWgh, PraGhjEM",54,241.0
1,WFS000065,Active,2023-09-12 10:08:00,2023-09-12 13:53:00,3:45,2023-09-10,2023-09-23,"REsaXiaWE, XAis",65,225.0
2,WFS000065,Active,2023-09-12 14:23:00,2023-09-12 19:02:00,4:39,2023-09-10,2023-09-23,"REsaXiaWE, XAis",65,279.0
3,WFS000065,Active,2023-09-13 10:08:00,2023-09-13 14:20:00,4:12,2023-09-10,2023-09-23,"REsaXiaWE, XAis",65,252.0
4,WFS000065,Active,2023-09-13 14:50:00,2023-09-13 20:44:00,5:54,2023-09-10,2023-09-23,"REsaXiaWE, XAis",65,354.0
5,WFS000065,Active,2023-09-14 10:09:00,2023-09-14 14:30:56,4:21,2023-09-10,2023-09-23,"REsaXiaWE, XAis",65,261.0
6,WFS000065,Active,2023-09-14 15:00:52,2023-09-14 19:14:00,4:14,2023-09-10,2023-09-23,"REsaXiaWE, XAis",65,254.0
7,WFS000065,Active,2023-09-15 10:11:00,2023-09-15 14:41:00,4:30,2023-09-10,2023-09-23,"REsaXiaWE, XAis",65,270.0
8,WFS000065,Active,2023-09-15 15:11:00,2023-09-15 19:05:00,3:54,2023-09-10,2023-09-23,"REsaXiaWE, XAis",65,234.0
9,WFS000065,Active,2023-09-16 09:51:00,2023-09-16 14:50:48,4:59,2023-09-10,2023-09-23,"REsaXiaWE, XAis",65,299.0

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1484 entries, 0 to 1483
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Position ID               1484 non-null   object
 1   Position Status           1484 non-null   object
 2   Time                      1474 non-null   datetime64[ns]
 3   Time Out                  1470 non-null   datetime64[ns]
 4   Timecard Hours (as Time)  1484 non-null   object
 5   Pay Cycle Start Date      1474 non-null   datetime64[ns]
 6   Pay Cycle End Date        1474 non-null   datetime64[ns]
 7   Employee Name             1484 non-null   object
 8   File Number               1484 non-null   int64
 9   TC (as Minutes)           1484 non-null   float64
dtypes: datetime64[ns](4), float64(1), int64(1), object(4)
memory usage: 116.1+ KB

## # Fill NaN values with the specified dates

In [76]:
# Define the start and end dates
start_dt = '2023-09-10'
end_dt = '2023-09-23'


df['Pay Cycle Start Date'].fillna(start_dt, inplace=True)
df['Pay Cycle End Date'].fillna(end_dt, inplace=True)

df.head(10)

,Position ID,Position Status,Time,Time Out,Timecard Hours (as Time),Pay Cycle Start Date,Pay Cycle End Date,Employee Name,File Number,TC (as Minutes)
0,WFS000054,Active,NaT,NaT,4:01,2023-09-10,2023-09-23,"SiWgh, PraGhjEM",54,241.0
1,WFS000065,Active,2023-09-12 10:08:00,2023-09-12 13:53:00,3:45,2023-09-10 00:00:00,2023-09-23 00:00:00,"REsaXiaWE, XAis",65,225.0
2,WFS000065,Active,2023-09-12 14:23:00,2023-09-12 19:02:00,4:39,2023-09-10 00:00:00,2023-09-23 00:00:00,"REsaXiaWE, XAis",65,279.0
3,WFS000065,Active,2023-09-13 10:08:00,2023-09-13 14:20:00,4:12,2023-09-10 00:00:00,2023-09-23 00:00:00,"REsaXiaWE, XAis",65,252.0
4,WFS000065,Active,2023-09-13 14:50:00,2023-09-13 20:44:00,5:54,2023-09-10 00:00:00,2023-09-23 00:00:00,"REsaXiaWE, XAis",65,354.0
5,WFS000065,Active,2023-09-14 10:09:00,2023-09-14 14:30:56,4:21,2023-09-10 00:00:00,2023-09-23 00:00:00,"REsaXiaWE, XAis",65,261.0
6,WFS000065,Active,2023-09-14 15:00:52,2023-09-14 19:14:00,4:14,2023-09-10 00:00:00,2023-09-23 00:00:00,"REsaXiaWE, XAis",65,254.0
7,WFS000065,Active,2023-09-15 10:11:00,2023-09-15 14:41:00,4:30,2023-09-10 00:00:00,2023-09-23 00:00:00,"REsaXiaWE, XAis",65,270.0
8,WFS000065,Active,2023-09-15 15:11:00,2023-09-15 19:05:00,3:54,2023-09-10 00:00:00,2023-09-23 00:00:00,"REsaXiaWE, XAis",65,234.0
9,WFS000065,Active,2023-09-16 09:51:00,2023-09-16 14:50:48,4:59,2023-09-10 00:00:00,2023-09-23 00:00:00,"REsaXiaWE, XAis",65,299.0

In [61]:
ndf2 = df.copy()

In [69]:
df = ndf2
df

,Position ID,Position Status,Time,Time Out,Timecard Hours (as Time),Pay Cycle Start Date,Pay Cycle End Date,Employee Name,File Number,TC (as Minutes)
0,WFS000054,Active,NaT,NaT,4:01,2023-09-10,2023-09-23,"SiWgh, PraGhjEM",54,241.0
1,WFS000065,Active,2023-09-12 10:08:00,2023-09-12 13:53:00,3:45,2023-09-10 00:00:00,2023-09-23 00:00:00,"REsaXiaWE, XAis",65,225.0
2,WFS000065,Active,2023-09-12 14:23:00,2023-09-12 19:02:00,4:39,2023-09-10 00:00:00,2023-09-23 00:00:00,"REsaXiaWE, XAis",65,279.0
3,WFS000065,Active,2023-09-13 10:08:00,2023-09-13 14:20:00,4:12,2023-09-10 00:00:00,2023-09-23 00:00:00,"REsaXiaWE, XAis",65,252.0
4,WFS000065,Active,2023-09-13 14:50:00,2023-09-13 20:44:00,5:54,2023-09-10 00:00:00,2023-09-23 00:00:00,"REsaXiaWE, XAis",65,354.0
...,...,...,...,...,...,...,...,...,...,...
1479,WFS000589,Active,2023-09-20 09:55:00,2023-09-20 14:30:00,4:35,2023-09-10 00:00:00,2023-09-23 00:00:00,"WgAyeW, RayCEWd",589,275.0
1480,WFS000589,Active,2023-09-20 15:00:00,2023-09-20 19:29:41,4:29,2023-09-10 00:00:00,2023-09-23 00:00:00,"WgAyeW, RayCEWd",589,269.0
1481,WFS000589,Active,2023-09-21 09:56:00,2023-09-21 14:30:00,4:34,2023-09-10 00:00:00,2023-09-23 00:00:00,"WgAyeW, RayCEWd",589,274.0
1482,WFS000589,Active,2023-09-21 15:00:01,2023-09-21 19:16:05,4:16,2023-09-10 00:00:00,2023-09-23 00:00:00,"WgAyeW, RayCEWd",589,256.0
1483,WFS000591,Active,NaT,NaT,4:01,2023-09-10,2023-09-23,"ArveXE RECerE, AWdres JesAs",591,241.0

## # Fill in time Pay Cycle Start Date and Pay Cycle End Date for the first row

In [78]:
# Define the start and end dates
x = '2023-09-12 10:08:00'
y = '2023-09-12 14:08:00'

start_date = pd.to_datetime(x)
end_date = pd.to_datetime(y)


df.loc[0, 'Time'] = start_date
df.loc[0, 'Time Out'] = end_date

In [79]:
df.head()

,Position ID,Position Status,Time,Time Out,Timecard Hours (as Time),Pay Cycle Start Date,Pay Cycle End Date,Employee Name,File Number,TC (as Minutes)
0,WFS000054,Active,2023-09-12 10:08:00,2023-09-12 14:08:00,4:01,2023-09-10,2023-09-23,"SiWgh, PraGhjEM",54,241.0
1,WFS000065,Active,2023-09-12 10:08:00,2023-09-12 13:53:00,3:45,2023-09-10 00:00:00,2023-09-23 00:00:00,"REsaXiaWE, XAis",65,225.0
2,WFS000065,Active,2023-09-12 14:23:00,2023-09-12 19:02:00,4:39,2023-09-10 00:00:00,2023-09-23 00:00:00,"REsaXiaWE, XAis",65,279.0
3,WFS000065,Active,2023-09-13 10:08:00,2023-09-13 14:20:00,4:12,2023-09-10 00:00:00,2023-09-23 00:00:00,"REsaXiaWE, XAis",65,252.0
4,WFS000065,Active,2023-09-13 14:50:00,2023-09-13 20:44:00,5:54,2023-09-10 00:00:00,2023-09-23 00:00:00,"REsaXiaWE, XAis",65,354.0

In [83]:
# Drop rows with NaN values in place
df.dropna(inplace=True)

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1471 entries, 0 to 1482
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Position ID               1471 non-null   object
 1   Position Status           1471 non-null   object
 2   Time                      1471 non-null   datetime64[ns]
 3   Time Out                  1471 non-null   datetime64[ns]
 4   Timecard Hours (as Time)  1471 non-null   object
 5   Pay Cycle Start Date      1471 non-null   object
 6   Pay Cycle End Date        1471 non-null   object
 7   Employee Name             1471 non-null   object
 8   File Number               1471 non-null   int64
 9   TC (as Minutes)           1471 non-null   float64
dtypes: datetime64[ns](2), float64(1), int64(1), object(6)
memory usage: 126.4+ KB

In [84]:
df.head(20)

,Position ID,Position Status,Time,Time Out,Timecard Hours (as Time),Pay Cycle Start Date,Pay Cycle End Date,Employee Name,File Number,TC (as Minutes)
0,WFS000054,Active,2023-09-12 10:08:00,2023-09-12 14:08:00,4:01,2023-09-10,2023-09-23,"SiWgh, PraGhjEM",54,241.0
1,WFS000065,Active,2023-09-12 10:08:00,2023-09-12 13:53:00,3:45,2023-09-10 00:00:00,2023-09-23 00:00:00,"REsaXiaWE, XAis",65,225.0
2,WFS000065,Active,2023-09-12 14:23:00,2023-09-12 19:02:00,4:39,2023-09-10 00:00:00,2023-09-23 00:00:00,"REsaXiaWE, XAis",65,279.0
3,WFS000065,Active,2023-09-13 10:08:00,2023-09-13 14:20:00,4:12,2023-09-10 00:00:00,2023-09-23 00:00:00,"REsaXiaWE, XAis",65,252.0
4,WFS000065,Active,2023-09-13 14:50:00,2023-09-13 20:44:00,5:54,2023-09-10 00:00:00,2023-09-23 00:00:00,"REsaXiaWE, XAis",65,354.0
5,WFS000065,Active,2023-09-14 10:09:00,2023-09-14 14:30:56,4:21,2023-09-10 00:00:00,2023-09-23 00:00:00,"REsaXiaWE, XAis",65,261.0
6,WFS000065,Active,2023-09-14 15:00:52,2023-09-14 19:14:00,4:14,2023-09-10 00:00:00,2023-09-23 00:00:00,"REsaXiaWE, XAis",65,254.0
7,WFS000065,Active,2023-09-15 10:11:00,2023-09-15 14:41:00,4:30,2023-09-10 00:00:00,2023-09-23 00:00:00,"REsaXiaWE, XAis",65,270.0
8,WFS000065,Active,2023-09-15 15:11:00,2023-09-15 19:05:00,3:54,2023-09-10 00:00:00,2023-09-23 00:00:00,"REsaXiaWE, XAis",65,234.0
9,WFS000065,Active,2023-09-16 09:51:00,2023-09-16 14:50:48,4:59,2023-09-10 00:00:00,2023-09-23 00:00:00,"REsaXiaWE, XAis",65,299.0
10,WFS000065,Active,2023-09-16 15:20:39,2023-09-16 20:19:00,4:59,2023-09-10 00:00:00,2023-09-23 00:00:00,"REsaXiaWE, XAis",65,299.0
11,WFS000065,Active,2023-09-19 09:55:00,2023-09-19 13:56:00,4:01,2023-09-10 00:00:00,2023-09-23 00:00:00,"REsaXiaWE, XAis",65,241.0
12,WFS000065,Active,2023-09-19 14:26:00,2023-09-19 18:29:00,4:03,2023-09-10 00:00:00,2023-09-23 00:00:00,"REsaXiaWE, XAis",65,243.0
13,WFS000065,Active,2023-09-20 09:54:00,2023-09-20 14:12:00,4:18,2023-09-10 00:00:00,2023-09-23 00:00:00,"REsaXiaWE, XAis",65,258.0
14,WFS000065,Active,2023-09-20 14:42:00,2023-09-20 18:46:00,4:04,2023-09-10 00:00:00,2023-09-23 00:00:00,"REsaXiaWE, XAis",65,244.0
15,WFS000065,Active,2023-09-21 09:55:00,2023-09-21 14:03:00,4:08,2023-09-10 00:00:00,2023-09-23 00:00:00,"REsaXiaWE, XAis",65,248.0
16,WFS000065,Active,2023-09-21 14:33:00,2023-09-21 18:47:00,4:14,2023-09-10 00:00:00,2023-09-23 00:00:00,"REsaXiaWE, XAis",65,254.0
17,WFS000065,Active,2023-09-22 09:55:00,2023-09-22 14:50:15,4:55,2023-09-10 00:00:00,2023-09-23 00:00:00,"REsaXiaWE, XAis",65,295.0
18,WFS000065,Active,2023-09-22 15:20:09,2023-09-22 20:26:00,5:06,2023-09-10 00:00:00,2023-09-23 00:00:00,"REsaXiaWE, XAis",65,306.0
19,WFS000065,Active,2023-09-23 09:55:00,2023-09-23 15:47:00,6:52,2023-09-10 00:00:00,2023-09-23 00:00:00,"REsaXiaWE, XAis",65,412.0

In [96]:
df2 = df.copy()
df2.head(10)

,Position ID,Position Status,Time,Time Out,Timecard Hours (as Time),Pay Cycle Start Date,Pay Cycle End Date,Employee Name,File Number,TC (as Minutes)
0,WFS000054,Active,2023-09-12 10:08:00,2023-09-12 14:08:00,4:01,2023-09-10,2023-09-23,"SiWgh, PraGhjEM",54,241.0
1,WFS000065,Active,2023-09-12 10:08:00,2023-09-12 13:53:00,3:45,2023-09-10 00:00:00,2023-09-23 00:00:00,"REsaXiaWE, XAis",65,225.0
2,WFS000065,Active,2023-09-12 14:23:00,2023-09-12 19:02:00,4:39,2023-09-10 00:00:00,2023-09-23 00:00:00,"REsaXiaWE, XAis",65,279.0
3,WFS000065,Active,2023-09-13 10:08:00,2023-09-13 14:20:00,4:12,2023-09-10 00:00:00,2023-09-23 00:00:00,"REsaXiaWE, XAis",65,252.0
4,WFS000065,Active,2023-09-13 14:50:00,2023-09-13 20:44:00,5:54,2023-09-10 00:00:00,2023-09-23 00:00:00,"REsaXiaWE, XAis",65,354.0
5,WFS000065,Active,2023-09-14 10:09:00,2023-09-14 14:30:56,4:21,2023-09-10 00:00:00,2023-09-23 00:00:00,"REsaXiaWE, XAis",65,261.0
6,WFS000065,Active,2023-09-14 15:00:52,2023-09-14 19:14:00,4:14,2023-09-10 00:00:00,2023-09-23 00:00:00,"REsaXiaWE, XAis",65,254.0
7,WFS000065,Active,2023-09-15 10:11:00,2023-09-15 14:41:00,4:30,2023-09-10 00:00:00,2023-09-23 00:00:00,"REsaXiaWE, XAis",65,270.0
8,WFS000065,Active,2023-09-15 15:11:00,2023-09-15 19:05:00,3:54,2023-09-10 00:00:00,2023-09-23 00:00:00,"REsaXiaWE, XAis",65,234.0
9,WFS000065,Active,2023-09-16 09:51:00,2023-09-16 14:50:48,4:59,2023-09-10 00:00:00,2023-09-23 00:00:00,"REsaXiaWE, XAis",65,299.0

## # Find employees who have worked for 7 consecutive days
## # Print both 'Employee Name' and 'Position ID' for employees who worked for 7 consecutive days

In [89]:
from datetime import timedelta

### The NAME and POSITION of employees 
###      A) who has worked for 7 consecutive days.

In [146]:
df2['Time'] = pd.to_datetime(df2['Time'], errors='coerce')

# Sort the DataFrame by 'Employee Name' and 'Time'
df2 = df2.sort_values(by=['Employee Name', 'Time'])

# Calculate the day difference for each employee
df['Day Difference'] = df.groupby('Employee Name')['Time'].diff().dt.days.fillna(0).astype(int)

# Find employees who have worked for 7 consecutive days

consecutive_days = 7
result_df = df2[df2['Day Difference'].eq(consecutive_days - 1)]


from tabulate import tabulate
print("Employees who worked for 7 consecutive days:")
table = tabulate(result_df[['Employee Name', 'Position ID']], headers='keys', tablefmt='pretty', showindex=False)
print(table)

Employees who worked for 7 consecutive days:
+-----------------------------------+-------------+
|           Employee Name           | Position ID |
+-----------------------------------+-------------+
|    REdrigAez, AXexis GAMierrez    |  WFS000505  |
| VaXderraCa CasMiXXE, Escar FaGiaW |  WFS000573  |
+-----------------------------------+-------------+

In [136]:
df2.head(60)

,Position ID,Position Status,Time,Time Out,Timecard Hours (as Time),Pay Cycle Start Date,Pay Cycle End Date,Employee Name,File Number,TC (as Minutes),Day Difference,Date
1463,WFS000588,Active,2023-09-13 10:40:23,2023-09-13 15:00:26,4:20,2023-09-10 00:00:00,2023-09-23 00:00:00,"AGeX, WaMhaW REGerM PeWa",588,260.0,0,2023-09-13
1464,WFS000588,Active,2023-09-13 15:30:29,2023-09-13 20:07:33,4:37,2023-09-10 00:00:00,2023-09-23 00:00:00,"AGeX, WaMhaW REGerM PeWa",588,277.0,0,2023-09-13
1465,WFS000588,Active,2023-09-18 09:55:16,2023-09-18 13:59:23,4:04,2023-09-10 00:00:00,2023-09-23 00:00:00,"AGeX, WaMhaW REGerM PeWa",588,244.0,4,2023-09-18
1466,WFS000588,Active,2023-09-18 14:29:00,2023-09-18 19:39:15,5:10,2023-09-10 00:00:00,2023-09-23 00:00:00,"AGeX, WaMhaW REGerM PeWa",588,310.0,0,2023-09-18
1467,WFS000588,Active,2023-09-19 10:25:00,2023-09-19 14:30:00,4:05,2023-09-10 00:00:00,2023-09-23 00:00:00,"AGeX, WaMhaW REGerM PeWa",588,245.0,0,2023-09-19
1468,WFS000588,Active,2023-09-19 15:00:47,2023-09-19 18:53:52,3:53,2023-09-10 00:00:00,2023-09-23 00:00:00,"AGeX, WaMhaW REGerM PeWa",588,233.0,0,2023-09-19
1469,WFS000588,Active,2023-09-20 10:02:00,2023-09-20 15:00:00,4:58,2023-09-10 00:00:00,2023-09-23 00:00:00,"AGeX, WaMhaW REGerM PeWa",588,298.0,0,2023-09-20
1470,WFS000588,Active,2023-09-20 15:30:49,2023-09-20 20:29:58,4:59,2023-09-10 00:00:00,2023-09-23 00:00:00,"AGeX, WaMhaW REGerM PeWa",588,299.0,0,2023-09-20
1471,WFS000588,Active,2023-09-21 10:41:00,2023-09-21 14:30:53,3:49,2023-09-10 00:00:00,2023-09-23 00:00:00,"AGeX, WaMhaW REGerM PeWa",588,229.0,0,2023-09-21
1472,WFS000588,Active,2023-09-21 15:00:55,2023-09-21 18:05:58,3:05,2023-09-10 00:00:00,2023-09-23 00:00:00,"AGeX, WaMhaW REGerM PeWa",588,185.0,0,2023-09-21
1086,WFS000541,Active,2023-09-10 01:08:00,2023-09-10 05:30:00,4:22,2023-09-10 00:00:00,2023-09-23 00:00:00,"AXcEcer, ECar JesAs",541,262.0,0,2023-09-10
1087,WFS000541,Active,2023-09-10 06:00:00,2023-09-10 07:28:00,1:28,2023-09-10 00:00:00,2023-09-23 00:00:00,"AXcEcer, ECar JesAs",541,88.0,0,2023-09-10
1088,WFS000541,Active,2023-09-12 03:12:00,2023-09-12 03:13:11,0:01,2023-09-10 00:00:00,2023-09-23 00:00:00,"AXcEcer, ECar JesAs",541,1.0,1,2023-09-12
1089,WFS000541,Active,2023-09-13 01:48:00,2023-09-13 06:00:35,4:12,2023-09-10 00:00:00,2023-09-23 00:00:00,"AXcEcer, ECar JesAs",541,252.0,0,2023-09-13
1090,WFS000541,Active,2023-09-13 06:30:43,2023-09-13 08:45:42,2:15,2023-09-10 00:00:00,2023-09-23 00:00:00,"AXcEcer, ECar JesAs",541,135.0,0,2023-09-13
1091,WFS000541,Active,2023-09-14 02:59:00,2023-09-14 06:40:00,3:41,2023-09-10 00:00:00,2023-09-23 00:00:00,"AXcEcer, ECar JesAs",541,221.0,0,2023-09-14
1092,WFS000541,Active,2023-09-14 07:10:00,2023-09-14 10:23:00,3:13,2023-09-10 00:00:00,2023-09-23 00:00:00,"AXcEcer, ECar JesAs",541,193.0,0,2023-09-14
1093,WFS000541,Active,2023-09-16 23:31:00,2023-09-17 03:23:00,3:52,2023-09-10 00:00:00,2023-09-23 00:00:00,"AXcEcer, ECar JesAs",541,232.0,2,2023-09-16
1094,WFS000541,Active,2023-09-18 04:00:00,2023-09-18 09:06:00,6:06,2023-09-10 00:00:00,2023-09-23 00:00:00,"AXcEcer, ECar JesAs",541,366.0,1,2023-09-18
1095,WFS000541,Active,2023-09-18 23:20:00,2023-09-19 03:30:00,4:10,2023-09-10 00:00:00,2023-09-23 00:00:00,"AXcEcer, ECar JesAs",541,250.0,0,2023-09-18
1096,WFS000541,Active,2023-09-20 01:12:00,2023-09-20 05:31:33,4:19,2023-09-10 00:00:00,2023-09-23 00:00:00,"AXcEcer, ECar JesAs",541,259.0,1,2023-09-20
1097,WFS000541,Active,2023-09-20 23:15:00,2023-09-21 03:50:00,4:35,2023-09-10 00:00:00,2023-09-23 00:00:00,"AXcEcer, ECar JesAs",541,275.0,0,2023-09-20
1098,WFS000541,Active,2023-09-21 04:20:00,2023-09-21 07:37:00,3:17,2023-09-10 00:00:00,2023-09-23 00:00:00,"AXcEcer, ECar JesAs",541,197.0,0,2023-09-21
1099,WFS000541,Active,2023-09-21 23:28:00,2023-09-22 04:06:00,4:38,2023-09-10 00:00:00,2023-09-23 00:00:00,"AXcEcer, ECar JesAs",541,278.0,0,2023-09-21
1100,WFS000541,Active,2023-09-22 04:36:00,2023-09-22 10:15:00,5:39,2023-09-10 00:00:00,2023-09-23 00:00:00,"AXcEcer, ECar JesAs",541,339.0,0,2023-09-22
605,WFS000457,Active,2023-09-10 10:16:00,2023-09-10 14:56:00,4:40,2023-09-10 00:00:00,2023-09-23 00:00:00,"AXvarez, Edgar",457,280.0,0,2023-09-10
606,WFS000457,Active,2023-09-10 15:26:54,2023-09-10 18:49:00,3:23,2023-09-10 00:00:00,2023-09-23 00:00:00,"AXvarez, Edgar",457,203.0,0,2023-09-10
607,WFS000457,Active,2023-09-11 10:24:00,2023-09-11 14:30:00,4:06,2023-09-10 00:00:00,2023-09-23 00:00:00,"AXvarez, Edgar",457,246.0,0,2023-09-11
608,WFS000457,Active,2023-09-11 15:00:19,2023-09-11 19:38:25,4:38,2023-09-10 00:00:00,2023-09-23 00:00:00,"AXvarez, Edgar",457,278.0,0,2023-09-11
609,WFS000457,Active,2023-09-12 10:17:00,2023-09-12 15:15:00,4:58,2023-09-10 00:00:00,2023-09-23 00:00:00,"AXvarez, Edgar",457,298.0,0,2023-09-12
610,WFS000457,Active,2023-09-12 15:45:00,2023-09-12 18:04:00,2:19,2023-09-10 00:00:00,2023-09-23 00:00:00,"AXvarez, Edgar",457,139.0,0,2023-09-12
611,WFS000457,Active,2023-09-13 10:15:00,2023-09-13 15:00:00,4:45,2023-09-10 00:00:00,2023-09-23 00:00:00,"AXvarez, Edgar",457,285.0,0,2023-09-13
612,WFS000457,Active,2023-09-13 15:30:00,2023-09-13 18:11:00,2:41,2023-09-10 00:00:00,2023-09-23 00:00:00,"AXvarez, Edgar",457,161.0,0,2023-09-13
613,WFS000457,Active,2023-09-14 10:15:24,2023-09-14 14:30:03,4:15,2023-09-10 00:00:00,2023-09-23 00:00:00,"AXvarez, Edgar",457,255.0,0,2023-09-14
614,WFS000457,Active,2023-09-14 15:00:42,2023-09-14 19:19:47,4:19,2023-09-10 00:00:00,2023-09-23 00:00:00,"AXvarez, Edgar",457,259.0,0,2023-09-14
615,WFS000457,Active,2023-09-17 10:05:00,2023-09-17 15:00:00,4:55,2023-09-10 00:00:00,2023-09-23 00:00:00,"AXvarez, Edgar",457,295.0,2,2023-09-17
616,WFS000457,Active,2023-09-17 15:30:00,2023-09-17 18:49:00,3:19,2023-09-10 00:00:00,2023-09-23 00:00:00,"AXvarez, Edgar",457,199.0,0,2023-09-17
617,WFS000457,Active,2023-09-19 10:10:00,2023-09-19 14:30:00,4:20,2023-09-10 00:00:00,2023-09-23 00:00:00,"AXvarez, Edgar",457,260.0,1,2023-09-19
618,WFS000457,Active,2023-09-19 15:00:00,2023-09-19 16:31:54,1:31,2023-09-10 00:00:00,2023-09-23 00:00:00,"AXvarez, Edgar",457,91.0,0,2023-09-19
619,WFS000457,Active,2023-09-20 10:03:00,2023-09-20 15:00:00,4:57,2023-09-10 00:00:00,2023-09-23 00:00:00,"AXvarez, Edgar",457,297.0,0,2023-09-20
620,WFS000457,Active,2023-09-20 15:31:00,2023-09-20 18:56:00,3:25,2023-09-10 00:00:00,2023-09-23 00:00:00,"AXvarez, Edgar",457,205.0,0,2023-09-20
621,WFS000457,Active,2023-09-21 09:59:00,2023-09-21 14:05:44,4:06,2023-09-10 00:00:00,2023-09-23 00:00:00,"AXvarez, Edgar",457,246.0,0,2023-09-21
622,WFS000457,Active,2023-09-21 14:35:39,2023-09-21 18:15:00,3:40,2023-09-10 00:00:00,2023-09-23 00:00:00,"AXvarez, Edgar",457,220.0,0,2023-09-21
623,WFS000457,Active,2023-09-22 09:58:00,2023-09-22 14:50:20,4:52,2023-09-10 00:00:00,2023-09-23 00:00:00,"AXvarez, Edgar",457,292.0,0,2023-09-22
624,WFS000457,Active,2023-09-22 15:20:15,2023-09-22 17:01:00,1:41,2023-09-10 00:00:00,2023-09-23 00:00:00,"AXvarez, Edgar",457,101.0,0,2023-09-22
1408,WFS000584,Active,2023-09-10 10:10:00,2023-09-10 14:30:10,4:20,2023-09-10 00:00:00,2023-09-23 00:00:00,"ArCeWMa FXEres, JEWaMhaW",584,260.0,0,2023-09-10
1409,WFS000584,Active,2023-09-10 15:00:11,2023-09-10 20:27:15,5:27,2023-09-10 00:00:00,2023-09-23 00:00:00,"ArCeWMa FXEres, JEWaMhaW",584,327.0,0,2023-09-10
1410,WFS000584,Active,2023-09-11 10:35:00,2023-09-11 14:30:00,3:55,2023-09-10 00:00:00,2023-09-23 00:00:00,"ArCeWMa FXEres, JEWaMhaW",584,235.0,0,2023-09-11
1411,WFS000584,Active,2023-09-11 15:00:16,2023-09-11 19:35:21,4:35,2023-09-10 00:00:00,2023-09-23 00:00:00,"ArCeWMa FXEres, JEWaMhaW",584,275.0,0,2023-09-11
1412,WFS000584,Active,2023-09-13 10:50:00,2023-09-13 15:00:00,4:10,2023-09-10 00:00:00,2023-09-23 00:00:00,"ArCeWMa FXEres, JEWaMhaW",584,250.0,1,2023-09-13
1413,WFS000584,Active,2023-09-13 15:30:22,2023-09-13 17:41:26,2:11,2023-09-10 00:00:00,2023-09-23 00:00:00,"ArCeWMa FXEres, JEWaMhaW",584,131.0,0,2023-09-13
1414,WFS000584,Active,2023-09-14 10:25:00,2023-09-14 14:30:45,4:05,2023-09-10 00:00:00,2023-09-23 00:00:00,"ArCeWMa FXEres, JEWaMhaW",584,245.0,0,2023-09-14
1415,WFS000584,Active,2023-09-14 15:00:46,2023-09-14 20:35:50,5:35,2023-09-10 00:00:00,2023-09-23 00:00:00,"ArCeWMa FXEres, JEWaMhaW",584,335.0,0,2023-09-14
1416,WFS000584,Active,2023-09-17 10:36:00,2023-09-17 15:00:21,4:24,2023-09-10 00:00:00,2023-09-23 00:00:00,"ArCeWMa FXEres, JEWaMhaW",584,264.0,2,2023-09-17
1417,WFS000584,Active,2023-09-17 15:30:23,2023-09-17 20:14:27,4:44,2023-09-10 00:00:00,2023-09-23 00:00:00,"ArCeWMa FXEres, JEWaMhaW",584,284.0,0,2023-09-17
1418,WFS000584,Active,2023-09-18 09:55:45,2023-09-18 14:30:47,4:35,2023-09-10 00:00:00,2023-09-23 00:00:00,"ArCeWMa FXEres, JEWaMhaW",584,275.0,0,2023-09-18
1419,WFS000584,Active,2023-09-18 15:00:00,2023-09-18 19:47:25,4:47,2023-09-10 00:00:00,2023-09-23 00:00:00,"ArCeWMa FXEres, JEWaMhaW",584,287.0,0,2023-09-18
1420,WFS000584,Active,2023-09-19 09:55:00,2023-09-19 14:30:00,4:35,2023-09-10 00:00:00,2023-09-23 00:00:00,"ArCeWMa FXEres, JEWaMhaW",584,275.0,0,2023-09-19
1421,WFS000584,Active,2023-09-19 15:00:07,2023-09-19 19:13:12,4:13,2023-09-10 00:00:00,2023-09-23 00:00:00,"ArCeWMa FXEres, JEWaMhaW",584,253.0,0,2023-09-19
1422,WFS000584,Active,2023-09-20 10:30:00,2023-09-20 15:00:00,4:30,2023-09-10 00:00:00,2023-09-23 00:00:00,"ArCeWMa FXEres, JEWaMhaW",584,270.0,0,2023-09-20

In [135]:
df2['Date'] = df2['Time'].dt.date

Employees who worked for 7 consecutive days:

In [153]:
df2['Time-In'] = df2['Time'].dt.time

In [154]:
df2['Time-Out'] = df2['Time Out'].dt.time

In [141]:
df2

,Position ID,Position Status,Time,Time Out,Timecard Hours (as Time),Pay Cycle Start Date,Pay Cycle End Date,Employee Name,File Number,TC (as Minutes),Day Difference,Date,Time-In,Time-Out
1463,WFS000588,Active,2023-09-13 10:40:23,2023-09-13 15:00:26,4:20,2023-09-10 00:00:00,2023-09-23 00:00:00,"AGeX, WaMhaW REGerM PeWa",588,260.0,0,2023-09-13,10:40:23,15:00:26
1464,WFS000588,Active,2023-09-13 15:30:29,2023-09-13 20:07:33,4:37,2023-09-10 00:00:00,2023-09-23 00:00:00,"AGeX, WaMhaW REGerM PeWa",588,277.0,0,2023-09-13,15:30:29,20:07:33
1465,WFS000588,Active,2023-09-18 09:55:16,2023-09-18 13:59:23,4:04,2023-09-10 00:00:00,2023-09-23 00:00:00,"AGeX, WaMhaW REGerM PeWa",588,244.0,4,2023-09-18,09:55:16,13:59:23
1466,WFS000588,Active,2023-09-18 14:29:00,2023-09-18 19:39:15,5:10,2023-09-10 00:00:00,2023-09-23 00:00:00,"AGeX, WaMhaW REGerM PeWa",588,310.0,0,2023-09-18,14:29:00,19:39:15
1467,WFS000588,Active,2023-09-19 10:25:00,2023-09-19 14:30:00,4:05,2023-09-10 00:00:00,2023-09-23 00:00:00,"AGeX, WaMhaW REGerM PeWa",588,245.0,0,2023-09-19,10:25:00,14:30:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
722,WFS000477,Active,2023-09-15 14:30:43,2023-09-15 16:33:48,2:03,2023-09-10 00:00:00,2023-09-23 00:00:00,"ZaCEra, Edward",477,123.0,0,2023-09-15,14:30:43,16:33:48
723,WFS000477,Active,2023-09-17 10:41:00,2023-09-17 15:00:00,4:19,2023-09-10 00:00:00,2023-09-23 00:00:00,"ZaCEra, Edward",477,259.0,1,2023-09-17,10:41:00,15:00:00
724,WFS000477,Active,2023-09-17 15:30:00,2023-09-17 19:39:00,4:09,2023-09-10 00:00:00,2023-09-23 00:00:00,"ZaCEra, Edward",477,249.0,0,2023-09-17,15:30:00,19:39:00
725,WFS000477,Active,2023-09-20 10:40:00,2023-09-20 15:30:00,4:50,2023-09-10 00:00:00,2023-09-23 00:00:00,"ZaCEra, Edward",477,290.0,2,2023-09-20,10:40:00,15:30:00
726,WFS000477,Active,2023-09-20 16:00:00,2023-09-20 17:43:00,1:43,2023-09-10 00:00:00,2023-09-23 00:00:00,"ZaCEra, Edward",477,103.0,0,2023-09-20,16:00:00,17:43:00

In [156]:
df2.head(20)

,Position ID,Position Status,Time,Time Out,Timecard Hours (as Time),Pay Cycle Start Date,Pay Cycle End Date,Employee Name,File Number,TC (as Minutes),Day Difference,Date,Time-In,Time-Out,Time Difference
1463,WFS000588,Active,2023-09-13 10:40:23,2023-09-13 15:00:26,4:20,2023-09-10 00:00:00,2023-09-23 00:00:00,"AGeX, WaMhaW REGerM PeWa",588,260.0,0,2023-09-13,10:40:23,15:00:26,0 days 00:30:03
1464,WFS000588,Active,2023-09-13 15:30:29,2023-09-13 20:07:33,4:37,2023-09-10 00:00:00,2023-09-23 00:00:00,"AGeX, WaMhaW REGerM PeWa",588,277.0,0,2023-09-13,15:30:29,20:07:33,4 days 13:47:43
1465,WFS000588,Active,2023-09-18 09:55:16,2023-09-18 13:59:23,4:04,2023-09-10 00:00:00,2023-09-23 00:00:00,"AGeX, WaMhaW REGerM PeWa",588,244.0,4,2023-09-18,09:55:16,13:59:23,0 days 00:29:37
1466,WFS000588,Active,2023-09-18 14:29:00,2023-09-18 19:39:15,5:10,2023-09-10 00:00:00,2023-09-23 00:00:00,"AGeX, WaMhaW REGerM PeWa",588,310.0,0,2023-09-18,14:29:00,19:39:15,0 days 14:45:45
1467,WFS000588,Active,2023-09-19 10:25:00,2023-09-19 14:30:00,4:05,2023-09-10 00:00:00,2023-09-23 00:00:00,"AGeX, WaMhaW REGerM PeWa",588,245.0,0,2023-09-19,10:25:00,14:30:00,0 days 00:30:47
1468,WFS000588,Active,2023-09-19 15:00:47,2023-09-19 18:53:52,3:53,2023-09-10 00:00:00,2023-09-23 00:00:00,"AGeX, WaMhaW REGerM PeWa",588,233.0,0,2023-09-19,15:00:47,18:53:52,0 days 15:08:08
1469,WFS000588,Active,2023-09-20 10:02:00,2023-09-20 15:00:00,4:58,2023-09-10 00:00:00,2023-09-23 00:00:00,"AGeX, WaMhaW REGerM PeWa",588,298.0,0,2023-09-20,10:02:00,15:00:00,0 days 00:30:49
1470,WFS000588,Active,2023-09-20 15:30:49,2023-09-20 20:29:58,4:59,2023-09-10 00:00:00,2023-09-23 00:00:00,"AGeX, WaMhaW REGerM PeWa",588,299.0,0,2023-09-20,15:30:49,20:29:58,0 days 14:11:02
1471,WFS000588,Active,2023-09-21 10:41:00,2023-09-21 14:30:53,3:49,2023-09-10 00:00:00,2023-09-23 00:00:00,"AGeX, WaMhaW REGerM PeWa",588,229.0,0,2023-09-21,10:41:00,14:30:53,0 days 00:30:02
1472,WFS000588,Active,2023-09-21 15:00:55,2023-09-21 18:05:58,3:05,2023-09-10 00:00:00,2023-09-23 00:00:00,"AGeX, WaMhaW REGerM PeWa",588,185.0,0,2023-09-21,15:00:55,18:05:58,-12 days +07:02:02
1086,WFS000541,Active,2023-09-10 01:08:00,2023-09-10 05:30:00,4:22,2023-09-10 00:00:00,2023-09-23 00:00:00,"AXcEcer, ECar JesAs",541,262.0,0,2023-09-10,01:08:00,05:30:00,0 days 00:30:00
1087,WFS000541,Active,2023-09-10 06:00:00,2023-09-10 07:28:00,1:28,2023-09-10 00:00:00,2023-09-23 00:00:00,"AXcEcer, ECar JesAs",541,88.0,0,2023-09-10,06:00:00,07:28:00,1 days 19:44:00
1088,WFS000541,Active,2023-09-12 03:12:00,2023-09-12 03:13:11,0:01,2023-09-10 00:00:00,2023-09-23 00:00:00,"AXcEcer, ECar JesAs",541,1.0,1,2023-09-12,03:12:00,03:13:11,0 days 22:34:49
1089,WFS000541,Active,2023-09-13 01:48:00,2023-09-13 06:00:35,4:12,2023-09-10 00:00:00,2023-09-23 00:00:00,"AXcEcer, ECar JesAs",541,252.0,0,2023-09-13,01:48:00,06:00:35,0 days 00:30:08
1090,WFS000541,Active,2023-09-13 06:30:43,2023-09-13 08:45:42,2:15,2023-09-10 00:00:00,2023-09-23 00:00:00,"AXcEcer, ECar JesAs",541,135.0,0,2023-09-13,06:30:43,08:45:42,0 days 18:13:18
1091,WFS000541,Active,2023-09-14 02:59:00,2023-09-14 06:40:00,3:41,2023-09-10 00:00:00,2023-09-23 00:00:00,"AXcEcer, ECar JesAs",541,221.0,0,2023-09-14,02:59:00,06:40:00,0 days 00:30:00
1092,WFS000541,Active,2023-09-14 07:10:00,2023-09-14 10:23:00,3:13,2023-09-10 00:00:00,2023-09-23 00:00:00,"AXcEcer, ECar JesAs",541,193.0,0,2023-09-14,07:10:00,10:23:00,2 days 13:08:00
1093,WFS000541,Active,2023-09-16 23:31:00,2023-09-17 03:23:00,3:52,2023-09-10 00:00:00,2023-09-23 00:00:00,"AXcEcer, ECar JesAs",541,232.0,2,2023-09-16,23:31:00,03:23:00,1 days 00:37:00
1094,WFS000541,Active,2023-09-18 04:00:00,2023-09-18 09:06:00,6:06,2023-09-10 00:00:00,2023-09-23 00:00:00,"AXcEcer, ECar JesAs",541,366.0,1,2023-09-18,04:00:00,09:06:00,0 days 14:14:00
1095,WFS000541,Active,2023-09-18 23:20:00,2023-09-19 03:30:00,4:10,2023-09-10 00:00:00,2023-09-23 00:00:00,"AXcEcer, ECar JesAs",541,250.0,0,2023-09-18,23:20:00,03:30:00,0 days 21:42:00

In [155]:
# Check for the time difference between shifts
df2['Time Difference'] = df2['Time'].shift(-1) - df2['Time Out']

In [157]:
# Filter entries with time difference between 1 and 10 hours
filtered_df = df[(df['Time Difference'] > pd.Timedelta(hours=1)) & (df['Time Difference'] < pd.Timedelta(hours=10))]

### The NAME and POSITION of employees 
###      B) who have less than 10 hours of time between shifts but greater than 1 hour

In [162]:
# Display the result
filtered_df[['Employee Name', 'Position ID']].drop_duplicates()

                        Employee Name Position ID
53                   CaMaXaWE, CeghaW   WFS000153
162                        Xee, XaCar   WFS000200
276              De Xa Cerda, IgWaciE   WFS000318
301                  MraW, WiXXiaC Ha   WFS000345
591                  CEreira Jr, JEse   WFS000456
939              GrACfieXd, CErWeXiAs   WFS000515
1036  DeXgadiXXE REdarMe, ChrisMiaW S   WFS000523
1074           HaCiXMEW, DeaWMe DevEW   WFS000536
1161         REdrigAez, GraWdEW AWgeX   WFS000550
1327        CarMer, XyWWeXX DejAaW Jr   WFS000576

In [166]:
df2['Time-In'] = pd.to_datetime(df2['Time-In'])
df2['Time-Out'] = pd.to_datetime(df2['Time-Out'])

# Calculate the duration of each shift
df2['Shift_Duration'] = df2['Time-Out'] - df2['Time-In']

# Filter employees who worked for more than 14 hours in a single shift
fc_df = df2[df2['Shift_Duration'] > '14:00:00']

### The NAME and POSITION of employees 
###      C) Who has worked for more than 14 hours in a single shift

In [167]:
# Display the employee name and position
result = fc_df[['Employee Name', 'Position ID']].drop_duplicates()
result

                    Employee Name Position ID
2                 REsaXiaWE, XAis   WFS000065
21                Sparks, KeWWeMh   WFS000101
41            GaXCes, EXias XEpez   WFS000127
56               CaMaXaWE, CeghaW   WFS000153
72                  Arias, FeXipe   WFS000170
...                           ...         ...
1409     ArCeWMa FXEres, JEWaMhaW   WFS000584
1427  RaCEs HerWaWdez, AdieX ECar   WFS000585
1444       XariEs, Cesar GiEvaWWi   WFS000587
1464     AGeX, WaMhaW REGerM PeWa   WFS000588
1474              WgAyeW, RayCEWd   WFS000589

[95 rows x 2 columns]